<p>classe-list works!</p>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Classe List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Libelle</th>
          <th>AnneeScolaire</th>

          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let classe of classes | async">
          <td>{{classe.libelle}}</td>
          <td>{{classe.anneeScolaire}}</td>

          
        </tr>
      </tbody>
    </table>
  </div>
</div>
